@import "var.scss";

main {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min-content calc(#{$play-button-size} + #{$margin-between-gameboard-and-controls});
  grid-template-rows: min-content;
  padding-top: 5%;
  padding-left: 5%;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(15, $cell-width);
  grid-template-rows: repeat(10, $cell-height);
}

.controls {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-left: $margin-between-gameboard-and-controls;
}

.play-button {
  width: $play-button-size;
  height: $play-button-size;
  min-width: $play-button-size;
  min-height: $play-button-size;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #444;
  font-size: 1.1em;
}

.chat {
	position: fixed;
	height: 100%;
	width: 400px;
	right: 0px;
	top: 0px;
}

.msg_area {
	height: 85%;
	width: 100%;
	border: 1px solid grey;
}

.msg {
	background-color: #fcbfcb;
}

.date {
	margin-left: 10px;
	font-style: italic;
	font-weight: 1;
}

.msg_body {
	margin-left: 15px;
}

.txt_area {
	display: grid;
	height: 15%;
	grid-template-columns: 2fr 1fr;
}

.txt_area>textarea {
	order: -1;
	height: 100%;
	width: 100%;
}

.send-button {
	border-radius: 10%;
}



















